<table style="width:100%" *ngIf="(allUsers$ | async)?.length">
  <tr>
    <th></th>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>City</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Company name</th>
  </tr>
  <tr *ngFor="let user of allUsers$ | async">
    <button (click)="selectUserHandler(user)">Details</button>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.address.city}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.website}}</td>
    <td>{{user.company.name}}</td>
  </tr>

</table>


<section class="selected-user" [dbResolve]="bundles" #userDetailsResolveData="dbResolve">
  <div *ngIf="(userDetailsResolveData.isResolving && (paramsId$ | async) && (paramsId$ | async) !== 'list')" class="loader">
    <p>Loading...</p>
  </div>
  <app-user-details *ngIf="!userDetailsResolveData.isResolving && (paramsId$ | async) !== 'list'"></app-user-details>
</section>
